.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: $color-default-white;
  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &--button-call {
    background-color: $color-transparent;
    border: solid 1px $color-alice-blue;
    font-family: $font-roboto-condensed;
    font-weight: 700;
    font-size: 14px;
    width: 160px;
    text-transform: uppercase;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1023 {
    display: none;
  }
}
