.company {
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 77px;
  }

  @include vp-767 {
    margin-bottom: 76px;
  }
}

.company__wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px 13px 0 15px;

  picture {
    align-self: flex-start;

    img {
      max-width: max-content;
    }
  }

  img {
    margin-right: 105px;

    @include vp-1023 {
      margin-right: 28px;
      align-self: flex-start;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.company__about {
  h3 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-roboto-condensed;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: $color-black-pearl;

    @include vp-767 {
      font-size: 28px;
      line-height: 40px;
    }
  }

  p {
    color: $color-black-pearl;
    margin: -6px 0 28px;

    @include vp-1023 {
      margin-bottom: 33px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    span {
      display: block;
      margin-bottom: 46px;

      @include vp-1023 {
        margin-bottom: -15px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  [data-company-text="open"] {
    display: none;
  }
}

button {
  cursor: pointer;
  font-family: $font-roboto-condensed;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  width: 180px;
  height: 45px;
  background-color: transparent;
  border: 1px solid $color-sky-blue;
  color: $color-sky-blue;
  padding: 0 13px;
  justify-content: center;
  transition: $trans-600;
  user-select: none;

  @include hover-focus {
    opacity: 0.8;
    color: $color-black-pearl;
    border: 1px solid $color-black-pearl;
  }

  @include vp-767 {
    width: 160px;
    height: 35px;
  }
}
