.footer {
  min-height: 280px;
  background-color: $color-black-pearl;
  padding: 50px 0 55px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: auto 36% auto;
  justify-content: space-between;
  column-gap: 30px;

  @include vp-767 {
    grid-template-columns: 100%;
  }

  @include vp-1023 {
    grid-template-columns: 45% 50%;
  }
}

.footer__icon-list {
  display: flex;
  column-gap: 15px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;

  @include vp-1023 {
    margin-top: 0;
  }
}

.footer__list-wrapper {
  width: 100%;
}

.footer__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;

  &--site {
    height: 144px;

    @include vp-1023 {
      height: auto;
    }
  }
}

.footer__item {
  opacity: 0.7;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__list-link {
  color: $color-default-white;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__title {
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  font-family: $font-roboto-condensed;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.footer__logo {
  width: 100%;

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }

  @include vp-1023 {
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}
