.form {
  padding-top: 170px;
  padding-bottom: 250px;
  background: $black-to-sky;

  @include vp-767 {
    padding-bottom: 90px;
  }

  @include vp-1023 {
    background: $color-sky-blue;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  &--modal {
    background: none;
    padding: 0;

    @include vp-767 {
      padding: 0;
    }

    @include vp-1023 {
      padding: 0;
    }
  }
}

.form__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-size: 510px 285px;
  background-position: left center;

  @include vp-1023 {
    justify-content: center;
    background-image: none;
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 52%;

  &--modal {
    width: 100%;
  }

  @include vp-1023 {
    width: 100%;
  }

  textarea {
    border: none;
    width: 100%;
    color: $color-default-white;
    padding: 25px 15px;
    background-color: $color-tints-black-pearl;
    margin-bottom: 35px;
    outline: none;

    &::placeholder {
      color: $color-default-white;
    }
  }
}

.form__field {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: space-between;

  &--modal {
    flex-wrap: wrap;
  }

  @include vp-767 {
    flex-wrap: wrap;
  }

  label {
    width: 100%;
  }

  input {
    background-color: $color-tints-black-pearl;
    color: $color-default-white;
    border: none;
    border-radius: 3px;
    padding: 15px;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $color-default-white;
    }
  }
}

.form__title {
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 15px;

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 35px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.form__aprove {
  width: 100%;
  display: flex;
  column-gap: 50px;
  align-items: flex-end;

  @include vp-767 {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  @include vp-1023 {
    column-gap: 85px;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-family: $font-roboto-condensed;
    border-radius: 3px;
    color: $color-default-white;
    background-color: $color-shades-black-pearl;
    line-height: 19px;
    font-weight: 700;
    border: none;
    width: 265px;
    height: 45px;

    @include hover {
      opacity: 0.8;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &--modal {
    flex-wrap: wrap;
    row-gap: 20px;

    input[type="submit"] {
      width: 100%;
    }
  }

  label {
    position: relative;
  }

  span {
    opacity: 0.8;
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background-color: $color-transparent;
      border: 1px solid $color-default-white;
      left: 2%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(../img/sprite/tick.svg);
      background-repeat: no-repeat;
      left: 2%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  input[type="checkbox"]:checked + span::after {
    display: block;
  }
}
