.header {
  position: fixed;
  width: 100%;
  min-height: 120px;
  background: $black-to-bottom;
  padding-top: 30px;
  padding-bottom: 35px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  display: flex;
  column-gap: 15px;
  line-height: 18px;
  color: $color-alice-blue;
}

.header__link-text {
  @include vp-767 {
    display: none;
  }
}

.header__logo-img {
  @include vp-767 {
    display: none;
  }

  @include vp-1919 {
    display: block;
  }
}

.header__logo-mobile-img {
  display: none;

  @include vp-767 {
    display: block;
  }
}
