.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  min-height: 120px;
  background: $black-to-bottom;
  padding-top: 30px;
  padding-bottom: 35px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  column-gap: 80px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    column-gap: 20px;
  }
}

.header__link {
  display: flex;
  column-gap: 15px;
  line-height: 18px;
  color: $color-alice-blue;
}

.header__link-text {
  @include vp-1023 {
    display: none;
  }
}
