.intro {
  min-height: 880px;
  background-image: url("../img/main-background.jpg");
  background-color: $color-black-pearl;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 120px;

  @include retina {
    background-image: url("../img/main-background@2x.jpg");
  }

  @include vp-1023 {
    margin-top: -114px;
    min-height: 640px;
    margin-bottom: 80px;
    background-image: url("../img/main-background-tablet.jpg");

    @include retina {
      background-image: url("../img/main-background-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    min-height: 560px;
    margin-bottom: 50px;
    margin-top: -70px;
    background-image: url("../img/main-background-mobile.jpg");

    @include retina {
      background-image: url("../img/main-background-mobile@2x.jpg");
    }
  }
}

.intro__wrapper {
  max-width: $vp-1024;
  margin: 0 auto;
  padding: 300px 25px 25px 25px;

  @include vp-1023 {
    padding: 180px 50px 150px 50px;
  }

  @include vp-767 {
    padding: 150px 25px 150px 25px;
  }

  h1 {
    font-family: $font-roboto-condensed;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    line-height: 94px;
    font-size: 80px;
    margin: 0;
    margin-bottom: 40px;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 8px;
    }
  }

  p {
    font-size: 22px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 40px;
    padding-right: 300px;

    @include vp-1023 {
      padding-right: 0;
      margin-bottom: 55px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 44px;
    }
  }
}

.intro__link {
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  display: block;
  font-family: $font-roboto-condensed;
  padding: 18px 25px;
  text-decoration: none;
  text-transform: uppercase;
  width: 410px;
  height: 55px;
  background-color: $color-sky-blue;
  color: $color-alice-blue;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.05em;
  transition: opacity $trans-default;
  user-select: none;

  @include hover-focus {
    opacity: 0.8;
  }

  &--mobile {
    display: none;
  }

  &--tablet {
    display: block;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    padding: 12px 25px;
    margin-left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    height: 40px;

    &--mobile {
      display: block;
    }

    &--tablet {
      display: none;
    }
  }
}
