.logo {
  transition: $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  a {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  svg {
    display: block;

    &[data-logo-mobile] {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    @include vp-767 {
      &[data-logo-header] {
        display: none;
      }
    }
  }
}
