.logo__link {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.logo__img {
  display: block;

  @include vp-767 {
    &--header {
      display: none;
    }
  }
}

.logo__mobile-img {
  display: none;

  @include vp-767 {
    display: block;
  }
}
