.services {
  background-color: $color-black-pearl;
}

.services__wrapper {
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 60px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 86px;
  }

  h3 {
    margin: 0;
    margin-bottom: 50px;
    font-family: $font-roboto-condensed;
    font-weight: 400;
    line-height: 50px;
    font-size: 36px;

    &[data-title-mobile] {
      display: none;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 24px;

      &[data-title-tablet] {
        display: none;
      }

      &[data-title-mobile] {
        display: block;
      }
    }

    @include vp-1023 {
      margin-bottom: 36px;
    }
  }
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}

.services__list-item {
  position: relative;
  width: 29%;

  @include vp-1023 {
    width: 100%;
  }
}

.services__list-link {
  min-height: 650px;
  padding-top: 48px;
  padding-left: 45px;
  padding-right: 80px;
  display: block;
  background-color: $color-sky-blue;
  background-size: cover;
  background-repeat: no-repeat;
  transition: $trans-default;
  user-select: none;

  @include hover-focus {
    opacity: 0.8;
  }

  &--one {
    background-image: url("../img/background-card-1.jpg");

    @include retina {
      background-image: url("../img/background-card-1@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/background-card-1-tablet.jpg");

      @include retina {
        background-image: url("../img/background-card-1-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background-card-1-mobile.jpg");

      @include retina {
        background-image: url("../img/background-card-1-mobile@2x.jpg");
      }
    }
  }

  &--two {
    background-image: url("../img/background-card-2.jpg");

    @include retina {
      background-image: url("../img/background-card-2@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/background-card-2-tablet.jpg");

      @include retina {
        background-image: url("../img/background-card-2-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background-card-2-mobile.jpg");

      @include retina {
        background-image: url("../img/background-card-2-mobile@2x.jpg");
      }
    }
  }

  &--three {
    background-image: url("../img/background-card-3.jpg");

    @include retina {
      background-image: url("../img/background-card-3@2x.jpg");
    }

    @include vp-1023 {
      background-image: url("../img/background-card-3-tablet.jpg");

      @include retina {
        background-image: url("../img/background-card-3-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background-card-3-mobile.jpg");

      @include retina {
        background-image: url("../img/background-card-3-mobile@2x.jpg");
      }
    }
  }

  @include vp-1023 {
    min-height: 250px;
    padding-top: 37px;
  }

  @include vp-767 {
    font-size: 18px;
    padding-top: 26px;
    padding-left: 30px;
  }

  p {
    margin: 0;
    font-family: $font-roboto-condensed;
    font-weight: 400;
    color: $color-default-white;
    font-size: 20px;
    line-height: 30px;
  }
}

.services__button {
  background-color: $color-sky-blue;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  display: block;
  width: 60px;
  height: 60px;
  transition: $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
